<h1>Products List</h1>
<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.title, product_path(product) %> -
      <%= product.category.name %> -
      Price: $<%= product.price %> -
      Stock: <%= product.stock_quantity %>
    </li>
  <% end %>
</ul>

<%= link_to "Back to Products", products_path %>
